Codigos-Proyecto/flows(2).json
[
    {
        "id": "56e19614238f1ddd",
        "type": "tab",
        "label": "Emociones",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "01ef240d081a5823",
        "type": "function",
        "z": "56e19614238f1ddd",
        "name": "Temp",
        "func": "msg.payload = msg.payload.temp;\nmsg.topic = \"temperatura\";\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 60,
        "wires": [
            [
                "d39d37a309f1dce2"
            ]
        ]
    },
    {
        "id": "016ee23c18934a63",
        "type": "function",
        "z": "56e19614238f1ddd",
        "name": "LDR",
        "func": "msg.payload = msg.payload.lum;\nmsg.topic = \"lum\";\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 120,
        "wires": [
            [
                "d0417336066c1487"
            ]
        ]
    },
    {
        "id": "80fab829b8a4a243",
        "type": "mqtt in",
        "z": "56e19614238f1ddd",
        "name": "",
        "topic": "Emociones/mqtt",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c0ed33ac6aef07c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 100,
        "wires": [
            [
                "69fe16db36763f25",
                "d8789b246891b4db"
            ]
        ]
    },
    {
        "id": "d39d37a309f1dce2",
        "type": "ui_gauge",
        "z": "56e19614238f1ddd",
        "name": "",
        "group": "626fdba30e738ee4",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#3584e4",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 40,
        "wires": []
    },
    {
        "id": "d0417336066c1487",
        "type": "ui_gauge",
        "z": "56e19614238f1ddd",
        "name": "",
        "group": "9bece1cc87d6cb12",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Luminosidad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#3d3846",
            "#77767b",
            "#ffffff"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 140,
        "wires": []
    },
    {
        "id": "69fe16db36763f25",
        "type": "json",
        "z": "56e19614238f1ddd",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 510,
        "y": 80,
        "wires": [
            [
                "01ef240d081a5823",
                "016ee23c18934a63"
            ]
        ]
    },
    {
        "id": "d8789b246891b4db",
        "type": "debug",
        "z": "56e19614238f1ddd",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 160,
        "wires": []
    },
    {
        "id": "81c6ab69e4878e8b",
        "type": "ui_template",
        "z": "56e19614238f1ddd",
        "group": "804617ee5a58c9a7",
        "name": "",
        "order": 2,
        "width": 5,
        "height": 3,
        "format": "<iframe id=\"Video\" title=\"Video\" width=\"300\" height=\"200\"\n    src=\"http://192.168.1.170:81/stream\">\n</iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 300,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "cf26d214d4109fde",
        "type": "ui_button",
        "z": "56e19614238f1ddd",
        "name": "",
        "group": "804617ee5a58c9a7",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Tomar foto",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 310,
        "y": 320,
        "wires": [
            [
                "bc7db9540ffd4283"
            ]
        ]
    },
    {
        "id": "bc7db9540ffd4283",
        "type": "http request",
        "z": "56e19614238f1ddd",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://192.168.1.170/capture",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 490,
        "y": 320,
        "wires": [
            [
                "cfeabc523404bec6"
            ]
        ]
    },
    {
        "id": "cfeabc523404bec6",
        "type": "file",
        "z": "56e19614238f1ddd",
        "name": "",
        "filename": "/home/IGNIS/Desktop/foto/captura.jpg",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 730,
        "y": 320,
        "wires": [
            [
                "e5e3e0a4b69274b9"
            ]
        ]
    },
    {
        "id": "c5744f9df9398dc8",
        "type": "debug",
        "z": "56e19614238f1ddd",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 420,
        "wires": []
    },
    {
        "id": "e5e3e0a4b69274b9",
        "type": "exec",
        "z": "56e19614238f1ddd",
        "command": "python3 /home/IGNIS/Desktop/AnalisisESP32.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 750,
        "y": 420,
        "wires": [
            [],
            [
                "c5744f9df9398dc8"
            ],
            []
        ]
    },
    {
        "id": "ba759cace012fa85",
        "type": "ui_text",
        "z": "56e19614238f1ddd",
        "group": "804617ee5a58c9a7",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Emoción",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 480,
        "y": 200,
        "wires": []
    },
    {
        "id": "a6b379a2b36236e3",
        "type": "mqtt in",
        "z": "56e19614238f1ddd",
        "name": "",
        "topic": "Animo",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c0ed33ac6aef07c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 200,
        "wires": [
            [
                "ba759cace012fa85"
            ]
        ]
    },
    {
        "id": "9c0ed33ac6aef07c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "626fdba30e738ee4",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "98847587525ea031",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9bece1cc87d6cb12",
        "type": "ui_group",
        "name": "Luminosidad",
        "tab": "98847587525ea031",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "804617ee5a58c9a7",
        "type": "ui_group",
        "name": "Captura-web",
        "tab": "98847587525ea031",
        "order": 4,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "98847587525ea031",
        "type": "ui_tab",
        "name": "Habitacion",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]